USE [master]
GO
/****** Object:  Database [MEDIKARIYER]    Script Date: 5.11.2025 16:40:49 ******/
CREATE DATABASE [MEDIKARIYER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEDIKARIYER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MEDIKARIYER.mdf' , SIZE = 116736KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEDIKARIYER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MEDIKARIYER_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEDIKARIYER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEDIKARIYER]
GO
/****** Object:  User [MediKariyerUser]    Script Date: 5.11.2025 16:40:49 ******/
CREATE USER [MediKariyerUser] FOR LOGIN [MediKariyerUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MediKariyerUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [MediKariyerUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [MediKariyerUser]
GO
/****** Object:  Schema [logs]    Script Date: 5.11.2025 16:40:49 ******/
CREATE SCHEMA [logs]
GO
/****** Object:  Table [dbo].[application_statuses]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[applied_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[cover_letter] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[country] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_messages]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[subject] [nvarchar](200) NULL,
	[message] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_certificates]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_certificates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[certificate_name] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[institution] [nvarchar](255) NOT NULL,
	[certificate_year] [int] NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_education_types]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_education_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_required] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_educations]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_educations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[education_institution] [nvarchar](255) NOT NULL,
	[field] [nvarchar](255) NOT NULL,
	[graduation_year] [smallint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[education_type_id] [int] NULL,
	[education_type] [nvarchar](100) NULL,
	[deleted_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_experiences]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_experiences](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[organization] [nvarchar](255) NOT NULL,
	[role_title] [nvarchar](255) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[is_current] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[specialty_id] [int] NULL,
	[subspecialty_id] [int] NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_languages]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_languages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[language_id] [int] NOT NULL,
	[level_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_profile_photo_requests]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_profile_photo_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[file_url] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[reviewed_at] [datetime2](7) NULL,
	[reviewed_by] [int] NULL,
	[old_photo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_profiles]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[dob] [date] NULL,
	[phone] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[title] [nvarchar](50) NOT NULL,
	[profile_photo] [nvarchar](max) NULL,
	[specialty_id] [int] NOT NULL,
	[subspecialty_id] [int] NULL,
	[birth_place_id] [int] NULL,
	[residence_city_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_profiles]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[institution_name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](500) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](255) NULL,
	[website] [nvarchar](255) NULL,
	[about] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[logo] [nvarchar](max) NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_history]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[old_status_id] [int] NULL,
	[new_status_id] [int] NOT NULL,
	[changed_by] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[changed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_statuses]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hospital_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[specialty_id] [int] NOT NULL,
	[employment_type] [nvarchar](100) NOT NULL,
	[min_experience_years] [tinyint] NULL,
	[description] [nvarchar](max) NOT NULL,
	[status_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[city_id] [int] NULL,
	[subspecialty_id] [int] NULL,
	[deleted_at] [datetime2](7) NULL,
	[revision_note] [nvarchar](max) NULL,
	[revision_count] [int] NOT NULL,
	[approved_at] [datetime2](7) NULL,
	[published_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[language_levels]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[language_levels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[languages]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[languages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](100) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[data_json] [nvarchar](max) NULL,
	[channel] [nvarchar](100) NULL,
	[read_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[user_agent] [nvarchar](500) NULL,
	[ip] [nvarchar](45) NULL,
	[revoked_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialties]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subspecialties]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subspecialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[specialty_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[code] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[is_approved] [bit] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[last_login] [datetime] NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [logs].[application_logs]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [logs].[application_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[level] [nvarchar](10) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[user_id] [int] NULL,
	[request_id] [nvarchar](100) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[url] [nvarchar](500) NULL,
	[method] [nvarchar](10) NULL,
	[status_code] [int] NULL,
	[duration_ms] [int] NULL,
	[metadata] [nvarchar](max) NULL,
	[stack_trace] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [logs].[audit_logs]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [logs].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[actor_id] [int] NOT NULL,
	[actor_role] [nvarchar](20) NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[resource_type] [nvarchar](50) NULL,
	[resource_id] [int] NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[metadata] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [logs].[security_logs]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [logs].[security_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[severity] [nvarchar](20) NOT NULL,
	[user_id] [int] NULL,
	[email] [nvarchar](255) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[url] [nvarchar](500) NULL,
	[method] [nvarchar](10) NULL,
	[message] [nvarchar](max) NOT NULL,
	[metadata] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_applied_at]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_applications_applied_at] ON [dbo].[applications]
(
	[applied_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_deleted]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_applications_deleted] ON [dbo].[applications]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_doctor_job]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_applications_doctor_job] ON [dbo].[applications]
(
	[doctor_profile_id] ASC,
	[job_id] ASC,
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_doctor_status_date]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_applications_doctor_status_date] ON [dbo].[applications]
(
	[doctor_profile_id] ASC,
	[status_id] ASC,
	[applied_at] DESC
)
INCLUDE([job_id],[notes]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_job_status_date]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_applications_job_status_date] ON [dbo].[applications]
(
	[job_id] ASC,
	[status_id] ASC,
	[applied_at] DESC
)
INCLUDE([doctor_profile_id],[notes]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contact_messages_created_at]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_contact_messages_created_at] ON [dbo].[contact_messages]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_contact_messages_email]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_contact_messages_email] ON [dbo].[contact_messages]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_certificates_deleted]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_certificates_deleted] ON [dbo].[doctor_certificates]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_certificates_profile]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_certificates_profile] ON [dbo].[doctor_certificates]
(
	[doctor_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_educations_deleted]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_educations_deleted] ON [dbo].[doctor_educations]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_experiences_deleted]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_experiences_deleted] ON [dbo].[doctor_experiences]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_languages_deleted]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_languages_deleted] ON [dbo].[doctor_languages]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_doctor_languages_profile_lang_active]    Script Date: 5.11.2025 16:40:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_doctor_languages_profile_lang_active] ON [dbo].[doctor_languages]
(
	[doctor_profile_id] ASC,
	[language_id] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_photo_requests_doctor_profile_status]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_photo_requests_doctor_profile_status] ON [dbo].[doctor_profile_photo_requests]
(
	[doctor_profile_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_photo_requests_status_created]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_photo_requests_status_created] ON [dbo].[doctor_profile_photo_requests]
(
	[status] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_doctor_profiles_fullname]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_profiles_fullname] ON [dbo].[doctor_profiles]
(
	[first_name] ASC,
	[last_name] ASC
)
INCLUDE([specialty_id],[user_id],[phone]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_doctor_profiles_search]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_profiles_search] ON [dbo].[doctor_profiles]
(
	[first_name] ASC,
	[last_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_hospital_profiles_institution_name]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_hospital_profiles_institution_name] ON [dbo].[hospital_profiles]
(
	[institution_name] ASC
)
INCLUDE([user_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_job_history_changed_at]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_job_history_changed_at] ON [dbo].[job_history]
(
	[changed_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_job_history_job_id]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_job_history_job_id] ON [dbo].[job_history]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jobs_created_at_desc]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_created_at_desc] ON [dbo].[jobs]
(
	[created_at] DESC
)
INCLUDE([id],[hospital_id],[title],[specialty_id],[subspecialty_id],[city_id],[employment_type],[status_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jobs_deleted]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_deleted] ON [dbo].[jobs]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jobs_hospital_status]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_hospital_status] ON [dbo].[jobs]
(
	[hospital_id] ASC,
	[status_id] ASC,
	[specialty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jobs_status_created]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_status_created] ON [dbo].[jobs]
(
	[status_id] ASC,
	[created_at] DESC
)
INCLUDE([id],[hospital_id],[title],[specialty_id],[subspecialty_id],[city_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_jobs_title]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_title] ON [dbo].[jobs]
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_notifications_user_read]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_notifications_user_read] ON [dbo].[notifications]
(
	[user_id] ASC,
	[read_at] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refresh_tokens_user_expires]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_refresh_tokens_user_expires] ON [dbo].[refresh_tokens]
(
	[user_id] ASC,
	[expires_at] ASC
)
WHERE ([revoked_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_role_status]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_users_role_status] ON [dbo].[users]
(
	[role] ASC,
	[is_approved] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_application_logs_category]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_application_logs_category] ON [logs].[application_logs]
(
	[category] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_application_logs_level]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_application_logs_level] ON [logs].[application_logs]
(
	[level] ASC
)
INCLUDE([timestamp],[message]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_application_logs_request_id]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_application_logs_request_id] ON [logs].[application_logs]
(
	[request_id] ASC
)
WHERE ([request_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_application_logs_timestamp]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_application_logs_timestamp] ON [logs].[application_logs]
(
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_application_logs_user_id]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_application_logs_user_id] ON [logs].[application_logs]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_audit_logs_action]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_action] ON [logs].[audit_logs]
(
	[action] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_actor]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_actor] ON [logs].[audit_logs]
(
	[actor_id] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_actor_timestamp]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_actor_timestamp] ON [logs].[audit_logs]
(
	[actor_id] ASC,
	[timestamp] DESC
)
INCLUDE([action],[resource_type],[resource_id]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_audit_logs_resource]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_resource] ON [logs].[audit_logs]
(
	[resource_type] ASC,
	[resource_id] ASC
)
WHERE ([resource_type] IS NOT NULL AND [resource_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_audit_logs_timestamp]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_audit_logs_timestamp] ON [logs].[audit_logs]
(
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_security_logs_event_type]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_security_logs_event_type] ON [logs].[security_logs]
(
	[event_type] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_security_logs_ip]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_security_logs_ip] ON [logs].[security_logs]
(
	[ip_address] ASC
)
WHERE ([ip_address] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_security_logs_severity]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_security_logs_severity] ON [logs].[security_logs]
(
	[severity] ASC,
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_security_logs_timestamp]    Script Date: 5.11.2025 16:40:49 ******/
CREATE NONCLUSTERED INDEX [IX_security_logs_timestamp] ON [logs].[security_logs]
(
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT ('Turkey') FOR [country]
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[contact_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_certificates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_education_types] ADD  DEFAULT ((0)) FOR [is_required]
GO
ALTER TABLE [dbo].[doctor_education_types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_education_types] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_educations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_experiences] ADD  DEFAULT ((0)) FOR [is_current]
GO
ALTER TABLE [dbo].[doctor_experiences] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_languages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_profiles] ADD  DEFAULT ('Dr') FOR [title]
GO
ALTER TABLE [dbo].[hospital_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[job_history] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT ((0)) FOR [min_experience_years]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT ((0)) FOR [revision_count]
GO
ALTER TABLE [dbo].[language_levels] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[language_levels] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[languages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[languages] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('inapp') FOR [channel]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[specialties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subspecialties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subspecialties] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [logs].[application_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [timestamp]
GO
ALTER TABLE [logs].[application_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [logs].[audit_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [timestamp]
GO
ALTER TABLE [logs].[audit_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [logs].[security_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [timestamp]
GO
ALTER TABLE [logs].[security_logs] ADD  DEFAULT (sysdatetimeoffset()) FOR [created_at]
GO
ALTER TABLE [dbo].[applications]  WITH NOCHECK ADD  CONSTRAINT [FK_applications_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_doctor]
GO
ALTER TABLE [dbo].[applications]  WITH NOCHECK ADD  CONSTRAINT [FK_applications_job] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_job]
GO
ALTER TABLE [dbo].[applications]  WITH NOCHECK ADD  CONSTRAINT [FK_applications_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[application_statuses] ([id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_status]
GO
ALTER TABLE [dbo].[doctor_certificates]  WITH CHECK ADD  CONSTRAINT [FK_certificates_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_certificates] CHECK CONSTRAINT [FK_certificates_doctor]
GO
ALTER TABLE [dbo].[doctor_educations]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_educations_type] FOREIGN KEY([education_type_id])
REFERENCES [dbo].[doctor_education_types] ([id])
GO
ALTER TABLE [dbo].[doctor_educations] CHECK CONSTRAINT [FK_doctor_educations_type]
GO
ALTER TABLE [dbo].[doctor_educations]  WITH NOCHECK ADD  CONSTRAINT [FK_educations_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_educations] CHECK CONSTRAINT [FK_educations_doctor]
GO
ALTER TABLE [dbo].[doctor_experiences]  WITH CHECK ADD  CONSTRAINT [FK_doctor_experiences_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
GO
ALTER TABLE [dbo].[doctor_experiences] CHECK CONSTRAINT [FK_doctor_experiences_specialty]
GO
ALTER TABLE [dbo].[doctor_experiences]  WITH CHECK ADD  CONSTRAINT [FK_doctor_experiences_subspecialty] FOREIGN KEY([subspecialty_id])
REFERENCES [dbo].[subspecialties] ([id])
GO
ALTER TABLE [dbo].[doctor_experiences] CHECK CONSTRAINT [FK_doctor_experiences_subspecialty]
GO
ALTER TABLE [dbo].[doctor_experiences]  WITH CHECK ADD  CONSTRAINT [FK_experiences_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_experiences] CHECK CONSTRAINT [FK_experiences_doctor]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_languages_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_doctor]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_languages_language] FOREIGN KEY([language_id])
REFERENCES [dbo].[languages] ([id])
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_language]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_languages_level] FOREIGN KEY([level_id])
REFERENCES [dbo].[language_levels] ([id])
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_level]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests]  WITH CHECK ADD  CONSTRAINT [FK_photo_requests_doctor_profile] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] CHECK CONSTRAINT [FK_photo_requests_doctor_profile]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests]  WITH CHECK ADD  CONSTRAINT [FK_photo_requests_reviewed_by] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] CHECK CONSTRAINT [FK_photo_requests_reviewed_by]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_birth_place] FOREIGN KEY([birth_place_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_birth_place]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_residence_city] FOREIGN KEY([residence_city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_residence_city]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_specialty]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_subspecialty] FOREIGN KEY([subspecialty_id])
REFERENCES [dbo].[subspecialties] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_subspecialty]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_user]
GO
ALTER TABLE [dbo].[hospital_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_hospital_profiles_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[hospital_profiles] CHECK CONSTRAINT [FK_hospital_profiles_city]
GO
ALTER TABLE [dbo].[hospital_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_hospital_profiles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_profiles] CHECK CONSTRAINT [FK_hospital_profiles_user]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_changed_by] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_changed_by]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_job] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_job]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_new_status] FOREIGN KEY([new_status_id])
REFERENCES [dbo].[job_statuses] ([id])
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_new_status]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_old_status] FOREIGN KEY([old_status_id])
REFERENCES [dbo].[job_statuses] ([id])
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_old_status]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_city]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_hospital] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospital_profiles] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_hospital]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_specialty]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[job_statuses] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_status]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_subspecialty] FOREIGN KEY([subspecialty_id])
REFERENCES [dbo].[subspecialties] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_subspecialty]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_user]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_tokens_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_tokens_user]
GO
ALTER TABLE [logs].[application_logs]  WITH CHECK ADD  CONSTRAINT [FK_application_logs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [logs].[application_logs] CHECK CONSTRAINT [FK_application_logs_user]
GO
ALTER TABLE [logs].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FK_audit_logs_actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [logs].[audit_logs] CHECK CONSTRAINT [FK_audit_logs_actor]
GO
ALTER TABLE [logs].[security_logs]  WITH CHECK ADD  CONSTRAINT [FK_security_logs_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [logs].[security_logs] CHECK CONSTRAINT [FK_security_logs_user]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests]  WITH CHECK ADD  CONSTRAINT [CK_photo_requests_status] CHECK  (([status]='cancelled' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] CHECK CONSTRAINT [CK_photo_requests_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='admin' OR [role]='hospital' OR [role]='doctor'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
ALTER TABLE [logs].[application_logs]  WITH CHECK ADD CHECK  (([level]='debug' OR [level]='http' OR [level]='info' OR [level]='warn' OR [level]='error'))
GO
ALTER TABLE [logs].[application_logs]  WITH CHECK ADD  CONSTRAINT [CK_application_logs_level] CHECK  (([level]='error' OR [level]='warn' OR [level]='info' OR [level]='http' OR [level]='debug'))
GO
ALTER TABLE [logs].[application_logs] CHECK CONSTRAINT [CK_application_logs_level]
GO
ALTER TABLE [logs].[security_logs]  WITH CHECK ADD CHECK  (([severity]='critical' OR [severity]='high' OR [severity]='medium' OR [severity]='low'))
GO
ALTER TABLE [logs].[security_logs]  WITH CHECK ADD  CONSTRAINT [CK_security_logs_event_type] CHECK  (([event_type]='account_locked' OR [event_type]='invalid_token' OR [event_type]='rate_limit_exceeded' OR [event_type]='suspicious_activity' OR [event_type]='user_registered' OR [event_type]='password_changed' OR [event_type]='token_revoked' OR [event_type]='token_expired' OR [event_type]='unauthorized_access' OR [event_type]='logout_all_devices' OR [event_type]='logout' OR [event_type]='login_failed' OR [event_type]='login_success'))
GO
ALTER TABLE [logs].[security_logs] CHECK CONSTRAINT [CK_security_logs_event_type]
GO
/****** Object:  StoredProcedure [dbo].[sp_backup_database_simple]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_backup_database_simple]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @BackupPath NVARCHAR(500)
    DECLARE @FileName NVARCHAR(500)
    DECLARE @Date NVARCHAR(20)
    
    -- Tarih formatı: YYYYMMDD
    SET @Date = CONVERT(NVARCHAR(20), GETDATE(), 112)
    
    -- Backup dosya yolu
    SET @BackupPath = 'C:\SQLBackups\'
    SET @FileName = @BackupPath + 'MEDIKARIYER_' + @Date + '.bak'
    
    -- Backup al (COMPRESSION OLMADAN!)
    BACKUP DATABASE [MEDIKARIYER]
    TO DISK = @FileName
    WITH INIT, FORMAT, SKIP, NOREWIND, NOUNLOAD, STATS = 10
    
    PRINT 'Backup tamamlandi: ' + @FileName
END

GO
/****** Object:  StoredProcedure [logs].[sp_cleanup_old_logs]    Script Date: 5.11.2025 16:40:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [logs].[sp_cleanup_old_logs]
    @retention_days INT = 90, -- Varsayılan: 90 gün
    @batch_size INT = 10000    -- Her seferde silinecek kayıt sayısı
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @cutoff_date DATETIMEOFFSET = DATEADD(DAY, -@retention_days, SYSDATETIMEOFFSET());
    DECLARE @rows_deleted INT;
    DECLARE @total_deleted INT = 0;
    
    BEGIN TRY
        -- Application Logs Cleanup
        WHILE 1 = 1
        BEGIN
            DELETE TOP (@batch_size)
            FROM logs.application_logs
            WHERE timestamp < @cutoff_date;
            
            SET @rows_deleted = @@ROWCOUNT;
            SET @total_deleted = @total_deleted + @rows_deleted;
            
            IF @rows_deleted < @batch_size BREAK;
            WAITFOR DELAY '00:00:01'; -- 1 saniye bekle (CPU yükünü azalt)
        END
        
        PRINT CONCAT('✅ ', @total_deleted, ' adet application_logs kaydı silindi');
        
        -- Security Logs Cleanup (daha uzun süre tut)
        SET @total_deleted = 0;
        SET @cutoff_date = DATEADD(DAY, -(@retention_days * 2), SYSDATETIMEOFFSET()); -- 2x daha uzun
        
        WHILE 1 = 1
        BEGIN
            DELETE TOP (@batch_size)
            FROM logs.security_logs
            WHERE timestamp < @cutoff_date
            AND severity IN ('low', 'medium'); -- Kritik logları sakla
            
            SET @rows_deleted = @@ROWCOUNT;
            SET @total_deleted = @total_deleted + @rows_deleted;
            
            IF @rows_deleted < @batch_size BREAK;
            WAITFOR DELAY '00:00:01';
        END
        
        PRINT CONCAT('✅ ', @total_deleted, ' adet security_logs kaydı silindi');
        
        -- Audit Logs için cleanup YAPMA (compliance için sakla)
        PRINT '⚠️ audit_logs kayıtları saklandı (compliance)';
        
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
USE [master]
GO
