USE [master]
GO
/****** Object:  Database [MEDIKARIYER_DEV]    Script Date: 1.12.2025 15:29:52 ******/
CREATE DATABASE [MEDIKARIYER_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MEDIKARIYER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEDIKARIYER_DEV.mdf' , SIZE = 335872KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MEDIKARIYER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MEDIKARIYER_DEV_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MEDIKARIYER_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MEDIKARIYER_DEV]
GO
/****** Object:  User [tstSqlUser]    Script Date: 1.12.2025 15:29:52 ******/
CREATE USER [tstSqlUser] FOR LOGIN [tstSqlUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tstSqlUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tstSqlUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tstSqlUser]
GO
/****** Object:  Table [dbo].[application_logs]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[level] [nvarchar](10) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[user_id] [int] NULL,
	[request_id] [nvarchar](100) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[url] [nvarchar](500) NULL,
	[method] [nvarchar](10) NULL,
	[status_code] [int] NULL,
	[duration_ms] [int] NULL,
	[metadata] [nvarchar](max) NULL,
	[stack_trace] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_statuses]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[applied_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[cover_letter] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[actor_id] [int] NOT NULL,
	[actor_role] [nvarchar](20) NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[resource_type] [nvarchar](50) NULL,
	[resource_id] [int] NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[metadata] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[actor_name] [nvarchar](255) NULL,
	[actor_email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[country] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_messages]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[subject] [nvarchar](200) NULL,
	[message] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_tokens]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[expo_push_token] [nvarchar](500) NOT NULL,
	[device_id] [nvarchar](255) NOT NULL,
	[platform] [nvarchar](20) NOT NULL,
	[app_version] [nvarchar](50) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_device_tokens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_certificates]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_certificates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[certificate_name] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[institution] [nvarchar](255) NOT NULL,
	[certificate_year] [int] NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_education_types]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_education_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[is_required] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_educations]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_educations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[education_institution] [nvarchar](255) NOT NULL,
	[field] [nvarchar](255) NOT NULL,
	[graduation_year] [smallint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[education_type_id] [int] NULL,
	[education_type] [nvarchar](100) NULL,
	[deleted_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_experiences]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_experiences](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[organization] [nvarchar](255) NOT NULL,
	[role_title] [nvarchar](255) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[is_current] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[specialty_id] [int] NULL,
	[subspecialty_id] [int] NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_languages]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_languages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[language_id] [int] NOT NULL,
	[level_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_profile_photo_requests]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_profile_photo_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_profile_id] [int] NOT NULL,
	[file_url] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[reviewed_at] [datetime2](7) NULL,
	[reviewed_by] [int] NULL,
	[old_photo] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_profiles]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[dob] [date] NULL,
	[phone] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[title] [nvarchar](50) NOT NULL,
	[profile_photo] [nvarchar](max) NULL,
	[specialty_id] [int] NOT NULL,
	[subspecialty_id] [int] NULL,
	[birth_place_id] [int] NULL,
	[residence_city_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hospital_profiles]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hospital_profiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[institution_name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](500) NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](255) NULL,
	[website] [nvarchar](255) NULL,
	[about] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[logo] [nvarchar](max) NOT NULL,
	[city_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_history]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[old_status_id] [int] NULL,
	[new_status_id] [int] NOT NULL,
	[changed_by] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[changed_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_statuses]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hospital_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[specialty_id] [int] NOT NULL,
	[employment_type] [nvarchar](100) NOT NULL,
	[min_experience_years] [tinyint] NULL,
	[description] [nvarchar](max) NOT NULL,
	[status_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[city_id] [int] NULL,
	[subspecialty_id] [int] NULL,
	[deleted_at] [datetime2](7) NULL,
	[revision_note] [nvarchar](max) NULL,
	[revision_count] [int] NOT NULL,
	[approved_at] [datetime2](7) NULL,
	[published_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[language_levels]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[language_levels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[languages]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[languages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[code] [nvarchar](10) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](100) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[data_json] [nvarchar](max) NULL,
	[channel] [nvarchar](100) NULL,
	[read_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[deleted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
	[ip_address] [nvarchar](100) NULL,
	[user_agent] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token_hash] [nvarchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[user_agent] [nvarchar](500) NULL,
	[ip] [nvarchar](45) NULL,
	[revoked_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[security_logs]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[security_logs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetimeoffset](7) NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[severity] [nvarchar](20) NOT NULL,
	[user_id] [int] NULL,
	[email] [nvarchar](255) NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](500) NULL,
	[url] [nvarchar](500) NULL,
	[method] [nvarchar](10) NULL,
	[message] [nvarchar](max) NOT NULL,
	[metadata] [nvarchar](max) NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialties]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subspecialties]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subspecialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[specialty_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[code] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1.12.2025 15:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[is_approved] [bit] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[last_login] [datetime] NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_deleted_at]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_applications_deleted_at] ON [dbo].[applications]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_doctor]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_applications_doctor] ON [dbo].[applications]
(
	[doctor_profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_doctor_profile]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_applications_doctor_profile] ON [dbo].[applications]
(
	[doctor_profile_id] ASC
)
INCLUDE([status_id],[applied_at],[deleted_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_job_id]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_applications_job_id] ON [dbo].[applications]
(
	[job_id] ASC
)
INCLUDE([status_id],[doctor_profile_id],[applied_at],[deleted_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_applications_status_job]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_applications_status_job] ON [dbo].[applications]
(
	[job_id] ASC,
	[status_id] ASC
)
INCLUDE([doctor_profile_id],[applied_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_device_tokens_device_id]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_device_tokens_device_id] ON [dbo].[device_tokens]
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_device_tokens_expo_push_token]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_device_tokens_expo_push_token] ON [dbo].[device_tokens]
(
	[expo_push_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_device_tokens_user_device]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_device_tokens_user_device] ON [dbo].[device_tokens]
(
	[user_id] ASC,
	[device_id] ASC,
	[platform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_device_tokens_user_id]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_device_tokens_user_id] ON [dbo].[device_tokens]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_certificates_profile_deleted]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_certificates_profile_deleted] ON [dbo].[doctor_certificates]
(
	[doctor_profile_id] ASC,
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_educations_profile_deleted]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_educations_profile_deleted] ON [dbo].[doctor_educations]
(
	[doctor_profile_id] ASC,
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_experiences_profile_deleted]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_experiences_profile_deleted] ON [dbo].[doctor_experiences]
(
	[doctor_profile_id] ASC,
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_languages_profile_deleted]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_languages_profile_deleted] ON [dbo].[doctor_languages]
(
	[doctor_profile_id] ASC,
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_doctor_profiles_user_id]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_doctor_profiles_user_id] ON [dbo].[doctor_profiles]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_hospital_profiles_user_id]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_hospital_profiles_user_id] ON [dbo].[hospital_profiles]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jobs_deleted_at]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_deleted_at] ON [dbo].[jobs]
(
	[deleted_at] ASC
)
WHERE ([deleted_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_jobs_hospital]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_jobs_hospital] ON [dbo].[jobs]
(
	[hospital_id] ASC
)
INCLUDE([status_id],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_users_is_active]    Script Date: 1.12.2025 15:29:52 ******/
CREATE NONCLUSTERED INDEX [IX_users_is_active] ON [dbo].[users]
(
	[is_active] ASC
)
INCLUDE([email],[role]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT ('Turkey') FOR [country]
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[contact_messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[device_tokens] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[device_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[device_tokens] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_certificates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_education_types] ADD  DEFAULT ((0)) FOR [is_required]
GO
ALTER TABLE [dbo].[doctor_education_types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_education_types] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[doctor_educations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_experiences] ADD  DEFAULT ((0)) FOR [is_current]
GO
ALTER TABLE [dbo].[doctor_experiences] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_languages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[doctor_profiles] ADD  DEFAULT ('Dr') FOR [title]
GO
ALTER TABLE [dbo].[hospital_profiles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[job_history] ADD  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT ((0)) FOR [min_experience_years]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT ((0)) FOR [revision_count]
GO
ALTER TABLE [dbo].[language_levels] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[language_levels] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[languages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[languages] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('inapp') FOR [channel]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[specialties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subspecialties] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subspecialties] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[applications]  WITH NOCHECK ADD  CONSTRAINT [FK_applications_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_doctor]
GO
ALTER TABLE [dbo].[applications]  WITH NOCHECK ADD  CONSTRAINT [FK_applications_job] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_job]
GO
ALTER TABLE [dbo].[applications]  WITH NOCHECK ADD  CONSTRAINT [FK_applications_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[application_statuses] ([id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_status]
GO
ALTER TABLE [dbo].[device_tokens]  WITH CHECK ADD  CONSTRAINT [FK_device_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[device_tokens] CHECK CONSTRAINT [FK_device_tokens_users]
GO
ALTER TABLE [dbo].[doctor_certificates]  WITH CHECK ADD  CONSTRAINT [FK_certificates_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_certificates] CHECK CONSTRAINT [FK_certificates_doctor]
GO
ALTER TABLE [dbo].[doctor_educations]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_educations_type] FOREIGN KEY([education_type_id])
REFERENCES [dbo].[doctor_education_types] ([id])
GO
ALTER TABLE [dbo].[doctor_educations] CHECK CONSTRAINT [FK_doctor_educations_type]
GO
ALTER TABLE [dbo].[doctor_educations]  WITH NOCHECK ADD  CONSTRAINT [FK_educations_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_educations] CHECK CONSTRAINT [FK_educations_doctor]
GO
ALTER TABLE [dbo].[doctor_experiences]  WITH CHECK ADD  CONSTRAINT [FK_doctor_experiences_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
GO
ALTER TABLE [dbo].[doctor_experiences] CHECK CONSTRAINT [FK_doctor_experiences_specialty]
GO
ALTER TABLE [dbo].[doctor_experiences]  WITH CHECK ADD  CONSTRAINT [FK_doctor_experiences_subspecialty] FOREIGN KEY([subspecialty_id])
REFERENCES [dbo].[subspecialties] ([id])
GO
ALTER TABLE [dbo].[doctor_experiences] CHECK CONSTRAINT [FK_doctor_experiences_subspecialty]
GO
ALTER TABLE [dbo].[doctor_experiences]  WITH CHECK ADD  CONSTRAINT [FK_experiences_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_experiences] CHECK CONSTRAINT [FK_experiences_doctor]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_languages_doctor] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_doctor]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_languages_language] FOREIGN KEY([language_id])
REFERENCES [dbo].[languages] ([id])
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_language]
GO
ALTER TABLE [dbo].[doctor_languages]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_languages_level] FOREIGN KEY([level_id])
REFERENCES [dbo].[language_levels] ([id])
GO
ALTER TABLE [dbo].[doctor_languages] CHECK CONSTRAINT [FK_doctor_languages_level]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests]  WITH CHECK ADD  CONSTRAINT [FK_photo_requests_doctor_profile] FOREIGN KEY([doctor_profile_id])
REFERENCES [dbo].[doctor_profiles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] CHECK CONSTRAINT [FK_photo_requests_doctor_profile]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests]  WITH CHECK ADD  CONSTRAINT [FK_photo_requests_reviewed_by] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] CHECK CONSTRAINT [FK_photo_requests_reviewed_by]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_birth_place] FOREIGN KEY([birth_place_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_birth_place]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_residence_city] FOREIGN KEY([residence_city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_residence_city]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_specialty]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_subspecialty] FOREIGN KEY([subspecialty_id])
REFERENCES [dbo].[subspecialties] ([id])
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_subspecialty]
GO
ALTER TABLE [dbo].[doctor_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_doctor_profiles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[doctor_profiles] CHECK CONSTRAINT [FK_doctor_profiles_user]
GO
ALTER TABLE [dbo].[hospital_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_hospital_profiles_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[hospital_profiles] CHECK CONSTRAINT [FK_hospital_profiles_city]
GO
ALTER TABLE [dbo].[hospital_profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_hospital_profiles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[hospital_profiles] CHECK CONSTRAINT [FK_hospital_profiles_user]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_changed_by] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_changed_by]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_job] FOREIGN KEY([job_id])
REFERENCES [dbo].[jobs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_job]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_new_status] FOREIGN KEY([new_status_id])
REFERENCES [dbo].[job_statuses] ([id])
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_new_status]
GO
ALTER TABLE [dbo].[job_history]  WITH CHECK ADD  CONSTRAINT [FK_job_history_old_status] FOREIGN KEY([old_status_id])
REFERENCES [dbo].[job_statuses] ([id])
GO
ALTER TABLE [dbo].[job_history] CHECK CONSTRAINT [FK_job_history_old_status]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_city] FOREIGN KEY([city_id])
REFERENCES [dbo].[cities] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_city]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_hospital] FOREIGN KEY([hospital_id])
REFERENCES [dbo].[hospital_profiles] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_hospital]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_specialty] FOREIGN KEY([specialty_id])
REFERENCES [dbo].[specialties] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_specialty]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_status] FOREIGN KEY([status_id])
REFERENCES [dbo].[job_statuses] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_status]
GO
ALTER TABLE [dbo].[jobs]  WITH NOCHECK ADD  CONSTRAINT [FK_jobs_subspecialty] FOREIGN KEY([subspecialty_id])
REFERENCES [dbo].[subspecialties] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_subspecialty]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_user]
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_tokens_users]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_tokens_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_tokens_user]
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests]  WITH CHECK ADD  CONSTRAINT [CK_photo_requests_status] CHECK  (([status]='cancelled' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[doctor_profile_photo_requests] CHECK CONSTRAINT [CK_photo_requests_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='admin' OR [role]='hospital' OR [role]='doctor'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
USE [master]
GO
